

*{
    margin: 0;
}
.main {
    display: flex;
}

.img1 {
    height: 630px;
    width: 550px;
}

.img2 {
    top: 100px;
    left: 60px;
    height: 100px;
    width: 100px;
    position: absolute;
    
   
}
.logotext1{
  position: absolute;
  top: 120px;
  left: 160px;
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(0, 0, 0, 0.411);
  color: aliceblue;
}

.imgposition{
    top: 10%;
    left: 5%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
   height: 200px;
}

.left{
    
}

.right {
    margin: 20px;
    padding: 20px;
    
}

.para {
    font-size: 25px;
    
}

.para2{
    font-size: 25px;
    font-family:'Lucida Sans';
    margin-top: 20px;
    margin-bottom: 20px;
}

.head{
    font-size: 25px;
}

.container{
    border: 2px solid rgb(231, 231, 231);
    padding: 10px 90px 10px 40px;
    /* padding-top: -80px; */
    margin: 0px -90px 10px -40px;
    background-color: rgb(231, 231, 231);
}

.nameContent{
    display: flex;
    
    
}
.inputContent{
   margin-top: 20px;
    margin-right: 100px;
}



button{
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px;
    color: black;
    background-color: rgb(25, 207, 25);
}


